name: CI
on:
  push:
  pull_request:
  workflow_call:
    inputs:
      extensions:
        type: string
        description: 'A list of extensions to build in regex format, e.g. `.+` for all'
  workflow_dispatch:
    inputs:
      extensions:
        type: string
        description: 'A list of extensions to build in regex format,  e.g. `.+` for all'
jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
      - uses: owenthereal/action-upterm@v1
        with:
          limit-access-to-actor: true
        env:
          AWS_DEBIAN_S3_BUCKET: ${{ secrets.AWS_DEBIAN_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          GPG_SIGNING_KEY_ID: C9ADBB93237BCD3B
          PGXMAN_REGISTRY_URL: ${{ secrets.PGXMAN_REGISTRY_URL }}
          GPG_PRIVATE: ${{ secrets.GPG_PRIVATE }}
          GPG_PUBLIC: ${{ secrets.GPG_PUBLIC }}
  detect_changed_extensions:
    name: Detect changed extensions
    runs-on: ubuntu-latest
    outputs:
      changed_extensions: ${{ steps.detect-changed-files.outputs.changed_extensions }}
    steps:
      - uses: actions/checkout@v4
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v45
        with:
          files: |
            buildkit/*.yaml
      - id: detect-changed-files
        run: |
          changed_extensions=$(script/changed-extensions ${{ steps.changed-files.outputs.all_changed_files }})
          input_extensions="${{ inputs.extensions }}"
          if [ -n "$input_extensions" ]; then
            changed_extensions="$input_extensions"
          fi
          echo "Changed extensions: $changed_extensions"
          echo "changed_extensions=$changed_extensions" >> "$GITHUB_OUTPUT"
  build:
    name: Build Extensions
    needs: [detect_changed_extensions]
    uses: ./.github/workflows/build.yaml
    with:
      extensions: ${{ needs.detect_changed_extensions.outputs.changed_extensions }}
    secrets: inherit
  publish:
    name: Publish Extensions
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.2
      - uses: actions/checkout@v4
        with:
          path: buildkit
      - name: Install deb-s3
        run: |
          gem install deb-s3
      - name: Install pgxman
        run: |
          curl -sfL https://install.pgx.sh | sh -
      - name: Import GPG Key
        env:
          GPG_PRIVATE: ${{ secrets.GPG_PRIVATE }}
          GPG_PUBLIC: ${{ secrets.GPG_PUBLIC }}
        run: |
          echo -e "$GPG_PRIVATE" | gpg --import --no-tty --batch --yes
          echo -e "$GPG_PUBLIC" | gpg --import --no-tty --batch --yes
          echo "allow-preset-passphrase" > ~/.gnupg/gpg-agent.conf
          gpg-connect-agent RELOADAGENT /bye
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
          merge-multiple: true
      - name: Publish Artifacts
        env:
          AWS_DEBIAN_S3_BUCKET: ${{ secrets.AWS_DEBIAN_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          GPG_SIGNING_KEY_ID: C9ADBB93237BCD3B
          PGXMAN_REGISTRY_URL: ${{ secrets.PGXMAN_REGISTRY_URL }}
        run: |
          if [ -d "$(pwd)/artifacts" ]; then
            tree "$(pwd)/artifacts"
            buildkit/script/deb-s3-upload "$(pwd)/artifacts"
            buildkit/script/pgxman-publish "$(pwd)/artifacts" "$(pwd)/buildkit"
          else
            echo "No artifacts to publish"
          fi
